
*
  margin 0
  padding 0
  box-sizing border-box

a
  text-decoration none

@import '../normalize.css';
@import './common/header.styl';
@import './common/testimonials.styl';
@import './common/apartments.styl';
@import './common/lookform.styl';
@import './common/videoblock.styl';
@import './common/map.styl';
@import './common/questions.styl';
@import './common/footer.styl';
