.footer
  background #2D343C
  padding-top 60px
  padding-bottom 51px
  &__mainFlex
    display flex
    justify-content space-between
    align-items start
  &__logo
    width 134px
    height 66px
  &__menu
    display flex
    flex-direction column
    justify-content start
  .menu__item
    margin-bottom 15px
    font-family Raleway
    font-style normal
    font-weight normal
    font-size 14px
    letter-spacing 0.05em
    color #FFFFFF
    transition .5s
  .menu__item:hover
    color #D4C17F
  &__contacts
    display flex
    flex-direction column
    justify-content start
    font-family Raleway
    font-style normal
    font-weight normal
    font-size 14px
    letter-spacing 0.05em
    color #FFFFFF
  .contacts__item
    margin-bottom 15px
  .contacts__item a
    font-family Raleway
    font-style normal
    font-weight normal
    font-size 14px
    letter-spacing 0.05em
    color #FFFFFF
    transition .5s
  .contacts__item:hover a
    color #D4C17F
  &__social
    display flex
    justify-content space-between
    align-items center
  &__socialPic
    height 20px
