*
  margin: 0;
  padding: 0;
a
  text-decoration: none;

.wrapper
  max-width 1110px
  margin 0 auto

.header
  background-image url(../img/header_bkg.jpg)
  background-position center center
  background-size cover
  padding-top 34px
  padding-bottom 74px
  &__top
    display flex
    align-items center
    justify-content space-between
    margin-bottom 225px
  .logo
    width 134px
    height 66px
  &__link
    margin-right 40px
    font-family Raleway
    font-style normal
    font-weight normal
    font-size 14px
    letter-spacing 0.05em
    color #FFFFFF
  &__main
    max-width 556px
    margin 0 auto
    text-align center
    margin-bottom 100px
  &__title
    font-family Playfair Display
    font-style normal
    font-weight bold
    font-size 48px
    text-align center
    color #D4C17F
  &__pic
    // text-align center
    // margin 0 auto 200px
    margin-bottom 200px
  .mouse-pic
    // display block
    margin 0 auto
    width 40px
    height 40px
  &__contacts
    margin 0 auto
    max-width 620px
  .contacts__flex
    display flex
    justify-content space-between
  .contacts__flex-item
    display flex
    justify-content center
    align-items center
    margin-right 100px
  .contacts__flex-item:last-child
    margin-right 70px
  .contacts-pic
    margin-right 18px
    height 21px
  &__info
    font-family Raleway
    font-style normal
    font-weight normal
    font-size 18px
    text-align center
    color #FFFFFF

