// *
//   box-sizing border-box
.lookAt
  padding-top 180px
  padding-bottom 180px
  background-image url(../img/lookform-bkg.jpg)
  background-position center center
  background-size cover
  &__flex
    display flex
    align-items center
  &__item
    max-width 50%
    margin-right 35px
  &__title
    font-family Playfair Display
    font-style normal
    font-weight bold
    font-size 36px
    color #D4C17F
    margin-bottom 50px
  &__text
    font-family Raleway
    font-style normal
    font-weight normal
    font-size 16px
    color #FFFFFF
  &__form
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap
  &__input
    background #FFFFFF
    opacity 0.2
    margin-right 30px
    height 50px
    width 46%
    margin-bottom 35px
    padding 10px
    color black
  &__input::placeholder
    text-align center
    font-family Raleway
    font-style normal
    font-weight normal
    font-size 14px
    color black
  &__input:nth-child(2)
    margin-right 0
  &__attention
    width 46%
    font-family Raleway
    font-style normal
    font-weight normal
    font-size 13px
    text-align center
    color #E7E7E7
    margin-right 30px
  &__button
    width 46%
    height 50px
    text-align center
    background #D4C17F
    border none
    outline none
    cursor pointer
    color #FFFFFF
    border-radius 2px
