.map
  padding-bottom 180px
  background #242B33
  &__title
    font-family Playfair Display
    font-style normal
    font-weight bold
    font-size 36px
    color #D4C17F
    margin-bottom 100px
  &__cont
    background #626262
    max-width 1100px
    height 358px
