.questions
  background #242B33
  padding-bottom 180px
  &__title
    font-family Playfair Display
    font-style normal
    font-weight bold
    font-size 36px
    color #D4C17F
    margin-bottom 50px
  &__form
    display flex
    justify-content space-between
    // align-items center
  &__attention
    max-width 255px
  &__input
    background #FFFFFF
    opacity 0.2
    // margin-right 30px
    height 50px
    width 23%
    // margin-bottom 35px
    padding 10px
    color black
  &__input::placeholder
    text-align center
    font-family Raleway
    font-style normal
    font-weight normal
    font-size 14px
    color black
  &__input:nth-child(2)
    margin-right 0
  &__attention
    width 23%
    font-family Raleway
    font-style normal
    font-weight normal
    font-size 13px
    text-align center
    color #E7E7E7
    // margin-right 30px
  &__button
    width 23%
    height 50px
    text-align center
    background #D4C17F
    border none
    outline none
    cursor pointer
    color #FFFFFF
    border-radius 2px
